# Ignore virtual environments and backups
env/
.env
backup/
nsutracker-env/
orig-env/
app/controllers/media/youtube/tokens/
app/api/winbdt_process/token.pickle

# Ignore Python cache and compiled files
__pycache__/
*.pyc
*.pyd
*.pdb
*.pyo
*.py[cod]
*.pickle

/app/controllers/media/youtube/tokens
*.pkl
app/controllers/media/youtube/tokens/token_baji_bdt.pkl
app/controllers/media/youtube/tokens/token_baji_inr.pkl
app/controllers/media/youtube/tokens/token_baji_npr.pkl
app/controllers/media/youtube/tokens/token_baji_pkr.pkl
app/controllers/media/youtube/tokens/token_jeetbuzz_bdt.pkl
app/controllers/media/youtube/tokens/token_jeetbuzz_inr.pkl
app/controllers/media/youtube/tokens/token_jeetbuzz_pkr.pkl
app/controllers/media/youtube/tokens/token_six6s_bdt.pkl
app/controllers/media/youtube/tokens/token_six6s_inr.pkl
app/controllers/media/youtube/tokens/token_six6s_pkr.pkl
app/api/business_process/credentials.json
