# Ignore virtual environments and backups
env/
.env
backup/
nsutracker-env/
orig-env/
app/controllers/media/youtube/tokens/
app/api/winbdt_process/token.pickle

# Ignore Python cache and compiled files
__pycache__/
*.pyc
*.pyd
*.pdb
*.pyo
*.py[cod]
*.pickle

